*{
    margin: 0;
    text-decoration: transparent;
}

body{
    background-color: #000000b0;
}

a{
    color: #ffffff;
}

p{
    line-height: 30px;
}

figure img{
    width: 400px;
}

header{
    display: flex;
    justify-content: space-between;

    color: #000000;
    background-color: #ffffff;
}

header > h1{
    padding: 5px;
}

nav{
    background-color: #1D8CD1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-top: #000000 solid;
    border-bottom: #000000 solid;
}

nav > div{
    border: solid #EEC94D;
    border-radius: 15px;

    background-color: #000000;

    margin: 5px;
    padding: 5px;
}

nav a{  
    font-size: 20px;
    display: block;
}

#title{
    background-color: #ffffff;
    text-decoration: underline solid;
    text-align: center;
    padding: 5px;
    border-bottom: #000000 solid;
}

main div:nth-of-type(2n){
    background-color: #EEC94D;
    padding: 10px;
}

main > div{
    background-color: #1D8CD1;
    display: flex;
    align-items: center;
    border-bottom: #000000 solid;
    justify-content: space-between;
}

main h2{
    text-align: center;
    margin: 5px;
    text-decoration: underline double #000000;
}

p{
    margin: 20px;
}

figure{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

footer{
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}

footer a{
    text-decoration: underline solid;
}

#logoESIEE{
    margin: 5px;
}

