*{
    margin: 0;
    text-decoration: transparent;
}

body{
    background-color: #000000b0;
}

a{
    color: #ffffff;
}

p{
    line-height: 30px;
}

header{
    display: flex;
    justify-content: space-between;

    color: #000000;
    background-color: #ffffff;
}

header > h1{
    padding: 5px;
}

nav{
    background-color: #1D8CD1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-top: #000000 solid;
    border-bottom: #000000 solid;
}

nav > div{
    border: solid #EEC94D;
    border-radius: 15px;

    background-color: #000000;

    margin: 5px;
    padding: 5px;
}

nav a{  
    font-size: 20px;
    display: block;
}

#title{
    background-color: #ffffff;
    text-align: center;
    padding: 5px;
    border-bottom: #000000 solid;
}

#title h1{
    text-decoration: underline solid;
}

#argument{
    display: flex;
    border: #000000 solid;
}

#argumentDefaveur{
    background-color: #1D8CD1;
    padding: 5px;
}

#argument h2{
    text-decoration: underline double #000000;
}

#argument h3{
    text-decoration: underline solid #000000;
    padding-bottom: 5px;
}

#argumentFaveur{
    background-color: #EEC94D;
    border-left: #000000 solid;
    padding: 5px;
}

footer{
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}

footer a{
    text-decoration: underline solid;
}

#logoESIEE{
    margin: 5px;
}

main #text{
    display: flex;
}


