*{
    margin: 0;
    text-decoration: transparent;
}

body{
    background-color: #000000b0;
}

a{
    color: #ffffff;
}

p{
    line-height: 30px;
}

header{
    display: flex;
    justify-content: space-between;

    color: #000000;
    background-color: #ffffff;
}

header > h1{
    padding: 5px;
}

nav{
    background-color: #1D8CD1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-top: #000000 solid;
    border-bottom: #000000 solid;
}

nav > div{
    border: solid #EEC94D;
    border-radius: 15px;

    background-color: #000000;

    margin: 5px;
    padding: 5px;
}

nav a{  
    font-size: 20px;
    display: block;
}

#title{
    background-color: #ffffff;
    text-decoration: underline solid;
    text-align: center;
    padding: 5px;
    border-bottom: #000000 solid;
}

table{
    margin: 20px auto;
    border: #000000 solid;
    background-color: #1D8CD1;
}

td{
    padding: 5px;
    background-color: #EEC94D;
    border: #000000 solid;
    text-align: center;
}

footer{
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}

footer a{
    text-decoration: underline solid;
}

#logoESIEE{
    margin: 5px;
}


