*{
    margin: 0;
    text-decoration: transparent;
}

a{
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;

    color: #000000;
    background-color: #ffffff;
}

header > h1{
    padding: 5px;
}

nav{
    background-color: #1D8CD1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
}

nav > div{
    border: solid #EEC94D;
    border-radius: 15px;

    background-color: #000000;

    margin: 5px;
    padding: 5px;
}

nav a{  
    font-size: 20px;
    display: block;
}


