*{
    margin: 0;
    text-decoration: transparent;
}

body{
    background-color: #000000b0;
}

a{
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;

    color: #21293E;
    background-color: #ffffff;
}

header > h1{
    padding: 5px;
}

nav{
    background-color: #1D8CD1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
}

nav > div{
    border: solid #EEC94D;
    border-radius: 15px;

    background-color: #000000;

    margin: 5px;
    padding: 5px;
}

nav a{  
    font-size: 20px;
    display: block;
}

#title{
    background-color: #ffffff;
    text-decoration: underline solid;
    text-align: center;
    padding: 5px;
}

#introductionText{
    color: #ffffff;
    background-color: #1D8CD1;
    border: double;
    margin: 25px;
    padding: 10px;
    
    text-align: center;
}

#introductionText span{
    font-weight: bold;
    text-decoration: underline solid;
}

#originControversy{
    background-color: rgb(0, 132, 255);
    color: #ffffff;
    padding: 10px;
    text-align: left;
    border: #000000 solid;
}

#originControversy h2{
    text-decoration: underline solid;
    padding-bottom: 10px;
}

#whyControversy{
    color: #000000;
    text-align: right;
    background-color: rgba(255, 255, 0, 0.897);
    padding: 10px;
    border-bottom: #000000 solid;
}

#whyControversy h2{
    text-decoration: underline solid;
    padding-bottom: 10px;
}

footer{
    color: #ffffff;
    text-align: center;
}

footer a{
    text-decoration: underline solid;
}

#logoESIEE{
    margin: 5px;
}