*{
    margin: 0;
    text-decoration: transparent;
}

body{
    background-color: #000000d5;
}

header{
    display: flex;
    justify-content: space-between;

    color: #21293E;
    background-color: #EEC94D;
}

header > h1{
    padding: 5px;
}

nav{
    background-color: #1D8CD1;
    position: sticky;
    display: flex;
    justify-content: space-around;
}

nav > div{
    border: solid #EEC94D;
    border-radius: 15px;

    background-color: #000000;

    margin: 5px;
    padding: 5px;
}

nav a{  
    font-size: 20px;
    display: block;
    color: #ffffff;
}

#title{
    background-color: #EEC94D;
    text-decoration: underline solid;
    text-align: center;
    padding: 5px;
}

#introductionText{
    color: #ffffff;
    background-color: #1D8CD1;
    border: double;
    margin: 25px;
    padding: 10px;
    
    text-align: center;
}

#introductionText span{
    font-weight: bold;
    text-decoration: underline solid;
}

